// https://draculatheme.com/wofi
window {

}

#input {
    margin: 5px;
    border: none;
    background-color: rgba(68, 71, 90, 0.5); /* 50% opacity */
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
}

#outer-box {
    margin: 5px;
    border: 5px solid #3E2A54; /*#3E2A54 #FFFFFF*/
    background-color: #282a36; /* Background color */
    border-radius: 5px; /* Rounds the corners */
}

#scroll {
    margin: 0px;
    border: none;

}

#text {
    margin: 5px;
    border: none;
    color: #BFA0C7;
    font-family: "DejaVuSansM Nerd Font Mono";
}

#entry.activatable #text {
    color: #282a36;
}

#entry > * {
    color: #f8f8f2;
}

#entry:selected {
    background-color: #44475a;
}

#entry:selected #text {
    font-weight: bold;
}
